@using PersonalWebSite.Models.Entity
@model List<TblSocialMedia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Sosyal Medya</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Link</th>
        <th>İkon</th>
        <th>Sil</th>
        <th>Duzenle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Link</td>
            <td>@item.Icon</td>
            <td><a href="/SocialMedia/DeleteSocialMedia/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/SocialMedia/EditSocialMedia/@item.ID" class=" btn btn-warning">Düzenle</a></td>
        </tr>
    }

</table>

<td><a href="/SocialMedia/AddSocialMedia/" class="btn btn-primary ">Yeni Sosyal Medya Ekle</a></td>