<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>
        <h5>
            <label><b>Ad Soyad</b></label>
            <br />
            <input type="text" class="from-control" size="50" name="NameSurname">
            <br /><br />

            <label><b>Mail<br></b></label>
            <br />
            <input type="text" class="from-control" size="50" name="Mail">
            <br /><br />

            <label><b>Konu<br></b></label>
            <br />
            <input type="text" class="from-control" size="50" name="Topic">
            <br /><br />

            <label><b>Mesaj<br></b></label>
            <br />
            <input type="text" class="from-control" size="150" name="Message">
            <br /><br />
            <button class="btn btn-info">Mesaj Gönder</button>
        </h5>
    </form>
</div>