<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Contact</h2>
        <h5>
            <label><b>Name Surname</b></label>
            <br />
            <input type="text" class="from-control" size="50" name="NameSurname">
            <br /><br />

            <label><b>e-maıl<br></b></label>
            <br />
            <input type="text" class="from-control" size="50" name="Mail">
            <br /><br />

            <label><b>Topıc<br></b></label>
            <br />
            <input type="text" class="from-control" size="50" name="Topic">
            <br /><br />

            <label><b>Message<br></b></label>
            <br />
            <input type="text" class="from-control" size="150" name="Message">
            <br /><br />
            <button class="btn btn-info">Send the Message</button>
        </h5>
    </form>
</div>