@using PersonalWebSite.Models.Entity
@model List<TblSkill>
@{ string color = "";}
<div class="resume-section-content">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <h2 class="mb-5">Skılls</h2>
    <div class="subheading mb-3">
        Programming Languages ​​& Tools
    </div>
    <ul class="list-inline dev-icons">
        <li class="material-icons" style="font-size:36px;">computer</li>
        <img src="https://img.icons8.com/ios/50/000000/c-sharp-logo.png" />
        <img width="50px" height="50px" src="https://cdn3.iconfinder.com/data/icons/pixel-perfect-at-24px-volume-7/24/5106-256.png" />
        <img width="50px" height="50px" src="https://cdn-icons-png.flaticon.com/512/2748/2748233.png" />
        <img width="50px" height="50px" src="https://cdn2.iconfinder.com/data/icons/programming-77/512/MVC-model-view-controller-256.png" />
        <img width="50px" height="50px" src="https://cdn0.iconfinder.com/data/icons/social-glyph/30/windows-visual-studio-240.png" />
        <img width="50px" height="50px" src="https://cdn-icons-png.flaticon.com/512/402/402184.png" />
        <img width="50px" height="50px" src="https://cdn-icons-png.flaticon.com/512/5968/5968282.png" />
        <img width="50px" height="50px" src="https://cdn-icons-png.flaticon.com/128/9969/9969496.png" />
        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
        <li class="list-inline-item"><i class="fab fa-github"></i></li>
       




    </ul>
    <div class="subheading mb-3">Skılls</div>
    @foreach (var item in Model)
    {
        if (item.Rate >= 0 && item.Rate <= 50)
        {
            color = "progress-bar bg-danger";
        }
        else if (item.Rate >= 51 && item.Rate <= 70)
        {
            color = "progress-bar bg-warning";
        }
        else if (item.Rate >= 71 && item.Rate <= 84)
        {
            color = "progress-bar bg-primary";
        }
        else if (item.Rate >= 85 && item.Rate <= 100)
        {
            color = "progress-bar bg-success";
        }
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                @item.Skill
            <div class="progress progress-xs">
                <div class="@color" style="width:@item.Rate%"></div>
            </div>
                
            </li>
        </ul>
    }
</div>
