
@{
    ViewBag.Title = "NewEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Eğitim Ekle</h2>

<form method="post">

    <input type="text" name="Title" class="form-control" placeholder="Başlığı Yazınız" />
    <br />
    <input type="text" name="Subtitle" class="form-control" placeholder="Alt Başlığı Yazınız" />
    <br />
    <input type="text" name="Subtitle" class="form-control" placeholder="2. Alt Başlığı Yazınız" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Okuma Tarihi" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="GNO" />
    <br />
    <button class="btn btn-info">Kaydet</button>



</form>

